@model ModusPersonalSite.Models.ContactInfo

@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->
<div id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Melissa <span class="brand-heading">Ogle</span></h1>
                    <p class="intro-text">.Net Developer</p>
                    <a href="#about" class="btn btn-default page-scroll">The Road Ahead</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>About Me</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4"><img src="~/img/reallysmall.jpg" class="img-responsive"></div>
            @*<div class="col-md-4"><img src="~/img/about.jpg" class="img-responsive"></div>*@
            <div class="col-md-4">
                <div class="about-text">
                    <h4>My Years in Public Service </h4>
                    
                        <p>
                            Upon graduating from college I went to work for the State of Kansas.
                            During my tenure there, I was promoted  several times and held positions
                            including case manager, Program Consultant to Central office and
                            Kansas City area trainer. For the final 8 and 1/2 years of my time
                            with the state I worked as a section supervisor along with a team of up to 13
                            individuals reporting directly to me.
                        </p>
                   
                        <p>
                            After years of dedication, I became
                            restless and bored. In 2013 my entire department was privatized.
                            Myself,  along with the rest of my staff received layoff notices.
                            After the layoff I held a few different positions within my industry
                            however it didn't take long to realize I wanted a new Career Path.
                        </p>
                    <p>
                        <a href="~/content/melissa ogle resume it 3 update.pdf" class="btn btn-default page-scroll" target="_blank">Resume</a>
                    </p>
                       
                        <p>
                        </p>
</div>
            </div>
            <div class="col-md-4">
                <div class="about-text">
                    <h4>My Future as a Developer</h4>
                    <p>
                        In June of 2016, I enrolled in the Application Developer track
                        within Centriq's TechSmart program. TechSmart KC is a four month accelerated,
                        hands-on technology IT career training program. I have truly unleashed a
                        passion for coding that I didn't know existed. I am so
                        excited for my future and can't wait to be able to transfer what
                        I have learned at Centriq to real life situations.
                    </p>
                    <p><h4>A Few of My Soft Skills</h4></p>
                    <ul>
                        <li>Team Leadership</li>
                        <li>Problem Solving</li>
                        <li>Conflict Resolution</li>
                        <li>Customer Service</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section -->
<div id="services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Some of My Technical Skills</h2>
            <hr>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <i class="fa fa-file-code-o"></i>
                    <h3>C#</h3>
                    @*<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>*@
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <i class="fa fa-cogs"></i>
                    <h3>Visual Studio</h3>
                    @*<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>*@
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <i class="fa fa-css3"></i>
                    <h3>CSS3</h3>
                    @*<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>*@
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <i class="fa fa-html5"></i>
                    <h3>HTML5</h3>
                    @*<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>*@
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <i class="fa fa-database"></i>
                    <h3>SQL</h3>
                    @*<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>*@
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <i class="fa fa-code"></i>
                    <h3>JavaScript</h3>
                    @*<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>*@
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <i class="fa fa-desktop"></i>
                    <h3>ASP.NET</h3>
                    @*<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>*@
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service">
                    <i class="fa fa-briefcase"></i>
                    <h3>BootStrap</h3>
                    @*<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Section -->
<div id="works">
    <div class="container">
        <!-- Container -->
        <div class="section-title text-center center">
            <h2>Things I Love</h2>
            <hr>
            <div class="clearfix"></div>
            <p><strong>While training to become a developer there are still things I can't give up</strong></p>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".lorem">Sports</a></li>
                        <li><a href="#" data-filter=".consectetur">Food</a></li>
                        <li><a href="#" data-filter=".dapibus">Traveling With My Family</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="portfolio-items">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lorem">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="~/img/portfolio/ku2.png" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>KU</h4>
                                    <p><strong>In anyway shape or form!</strong></p>
                                </div>
                                <img src="~/img/portfolio/ku2.png" class="img-responsive" alt="Jayhawks!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 consectetur">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="~/img/portfolio/cooking.png" @*title="Project description"*@ rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Cooking</h4>
                                    <p><strong>I love to cook as long as my kids will eat it.</strong></p>
                                </div>
                                <img src="~/img/portfolio/cooking.png" class="img-responsive" alt="Food!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lorem">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="~/img/portfolio/royals.jpg" @*title="Project description"*@ rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Kansas City Royals</h4>
                                    <p><strong>Gotta love them!!</strong></p>
                                </div>
                                <img src="~/img/portfolio/royals.jpg"  class="img-responsive" alt="KC Royals">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 dapibus">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="~/img/portfolio/beach.jpg" @*title="Project description"*@ rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Beach</h4>
                                    <p><strong>Who doesn't love a beach vacation???</strong></p>
                                </div>
                                <img src="~/img/portfolio/beach.jpg" class="img-responsive" alt="Ocean!">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 dapibus ">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="~/img/portfolio/family.jpg" @*title=@*"Project description"*@ rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Family</h4>
                                    <p><strong>Family is everything! Well, as long as they arn't making me crazy.</strong></p>
                                </div>
                                <img src="~/img/portfolio/family.jpg" class="img-responsive" alt="And My Dogs">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 lorem">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="~/img/portfolio/chiefs.jpg" @*title="Project description"*@ rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Kansas City Chiefs</h4>
                                    <p><strong>Go Chiefs!</strong></p>
                                </div>
                                <img src="~/img/portfolio/chiefs.jpg" class="img-responsive" alt="Chiefs">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="~/img/portfolio/gardening.jpg" @*title="Project description"*@ rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Working Outside</h4>
                                    <p><strong>Being outside in general as long as it isn't cold.  Winter is not my friend!</strong></p>
                                </div>
                                <img src="~/img/portfolio/gardening.jpg" class="img-responsive" alt="Sunshine">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 consectetur">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="~/img/portfolio/grilling.jpg" @*title="Project description"*@ rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Grilling</h4>
                                    <p><strong>Yes women can grill an awesome steak.. oh and did I mention that I can drive a stick shift?</strong></p>
                                </div>
                                @*<img src="img/portfolio/08.jpg" class="img-responsive" alt="Project Title" />*@
                                <img src="~/img/portfolio/grilling.jpg" class="img-responsive" alt="More Food!" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section -->
<div id="team" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Meet My Classmates</h2>
            <hr>
            <p><strong>An incredible group of indivuals who have helped me through this journey.</strong> </p>
        </div>
        <div id="row">
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/img/team/jordan.jpg" alt="..." class="img-thumbnail team-img"  >
                    <div class="caption">
                        <ul>
                        <li><a href="http://www.Jordanpresnell.com/" target="_blank" ><h3>Jordan Presnell</h3></a></li>
                        </ul>
                        @*<h3>Jordan Presnell</h3>*@
                        <p>Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/img/team/chriskerry2.jpg" alt="..." class="img-thumbnail team-img"  >
                    <div class="caption">
                        <ul>
                            <li><a href="http://www.kerrycode.com/" target="_blank"><h3>Chris Kerry</h3></a></li>
                        </ul>
                        
                        <p>.Net Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/img/team/pari2.jpg"  alt="..." class="img-thumbnail team-img" >
                    <div class="caption">
                        <ul> 
                      <li><a href="http://www.Parinirgudkar.com/" target="_blank"  ><h3>Pari Nirgudkar</h3></a></li>
                            </ul>
                       
                        <p>.Net Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/img/team/jena.jpg" alt="..." class="img-thumbnail team-img" >
                    <div class="caption">
                        <ul>
                        <li><a href="http://www.jenachristianson.com/" target="_blank"><h3>Jena Christianson</h3></a></li>
                        </ul>
                        <p>.Net Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/img/team/jameskenney.jpg" alt="..." class="img-thumbnail team-img" >
                    <div class="caption">
                        <ul>
                            <li><a href="http://www.icodeyourwebb.com/"target="_blank" ><h3>James Kenney</h3></a></li>
                        </ul>
                        
                        <p>.Net Developer</p>
                    </div>
                </div>
                </div>

                <div class="col-xs-6 col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="~/img/team/austin.jpg" alt="..." class="img-thumbnail team-img">
                        <div class="caption">
                            <ul>
                                <li><a href="http://www.acmcafee.com/" target="_blank" ><h3>Austin McAfee</h3></a></li>
                            </ul>
                            <p>.Net Developer</p>
                        </div>
                    </div>
                </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/img/team/tyler.jpg" alt="..." class="img-thumbnail team-img" >
                    <div class="caption">
                        <ul>
                            <li>
                            <a href="http://www.codeislife.org/" target="_blank"><h3>Tyler Daughtrey</h3></a>
                            </li>
                        </ul>
                        
                        <p>.Net Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/img/team/matt.jpg" alt="..." class="img-thumbnail team-img"  >
                    <div class="caption">
                        <ul>
                            <li><a href="http://www.mattjbrooks.com/" target="_blank"><h3>Matt Brooks</h3></a></li>
                        </ul>
                        
                        <p>.Net Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/img/team/tony.jpg" alt="..." class="img-thumbnail team-img"  >
                    <div class="caption">
                        <ul> 
                       <li><a href="http://www.mirror52.com/" target="_blank"><h3>Tony Tran</h3></a></li>
                        </ul>
                        
                        <p>.Net Developer</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 col-sm-6">
                <div class="thumbnail">
                  <img src="~/img/team/chriskramer.jpg"..." class="img-thumbnail team-img" >
                    <div class="caption">
                        <ul>
                            <li><a href="http://www.kramerscode.com/" target="_blank"><h3>Christoper J. Kramer</h3></a></li>
                        </ul>

                        <p>.Net Developer</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Testimonials Section -->
<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Projects - Check Back Soon</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row testimonials">
                    <div class="col-sm-4">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                <h3><strong>Always remember and never forget...</strong></h3>
                            </p>
                            <div class="clients-name">
                                <p>
                                    <strong>@*John Doe*@</strong><br>
                                    <em>@*CEO, Company Inc.*@</em>
                                </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                <h3>Life is a journey so dive in and enjoy the ride</h3>
                                </p>
                            <div class="clients-name">
                                <p>
                                    <strong>@*Jane Doe*@</strong><br>
                                    <em>@*CEO, Company Inc.*@</em>
                                </p>
                            </div>
                            
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>
                                <h3>
                                    Never any regrets!
                                </h3>
                            </p>
                            <div class="clients-name">
                                <p>
                                    <strong>@*Chris Smith*@</strong><br>
                                    <em>@*CEO, Company Inc.*@</em>
                                </p>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Section -->
<div id="contact" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Contact Me</h2>
            <hr>
            <p>Thank you for visiting.  Please feel free to contact me.</p>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <p>
                        Olathe, KS
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    <p>MelissaPOgle@gmail.com</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-phone fa-2x"></i>
                    <p>
                        913-558-9796<br>

                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <div id="contact" class="text-center">
                <div class="container">
                    <div class="section-title center">
                        <h3>Leave me a message</h3>
                        @using (Html.BeginForm())
                            {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="text" id="name" class="form-control" placeholder="Name" required="required">*@
                                        <p class="help-block text-danger"></p>
                                        @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<input type="email" id="email" class="form-control" placeholder="Email" required="required">*@
                                        <p class="help-block text-danger"></p>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @*<textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>*@
                                <p class="help-block text-danger"></p>
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Message" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                            <div id="success"></div>
                            @*<button type="submit" class="btn btn-default">Send Message</button>*@
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Send Message" class="btn btn-default" />
                                    @*<button type="submit" class="btn btn-default">Send Message</button>*@
                                </div>
                            </div>
                        }

                        @*<div class="social">*@
                        @*<h3>Check </h3>*@
                        @*<ul>*@
                        @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>

                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>*@
                        @*<li><a href="#"><i class="fa fa-linkedin"></i></a></li>*@
                        @*</ul>*@
                    </div>
                </div>
            </div>
          
            

